body{
    font-size: 36px;
    background-color: yellow;
    line-height: 40px;
    lighting-color: black;
}

div{
    background-color: yellow;
}

div a{
    font-size: 30px;
}

a{
    float: left;
}

a{
    font-size: 40px;
}div{
     background-color: yellow;
 }

div a{
    font-size: 30px;
}

a{
    float: left;
}

a{
    font-size: 40px;
}div{
     background-color: yellow;
 }

div a{
    font-size: 30px;
}

a{
    float: left;
}

a{
    font-size: 40px;
}div{
     background-color: yellow;
 }

div a{
    font-size: 30px;
}

a{
    float: left;
}

a{
    font-size: 40px;
}div{
     background-color: yellow;
 }

div a{
    font-size: 30px;
}

a{
    float: left;
}

a{
    font-size: 40px;
}div{
     background-color: yellow;
 }

div a{
    font-size: 30px;
}

a{
    float: left;
}

a{
    font-size: 40px;
}div{
     background-color: yellow;
 }

div a{
    font-size: 30px;
}

a{
    float: left;
}

a{
    font-size: 40px;
}div{
     background-color: yellow;
 }

div a{
    font-size: 30px;
}

a{
    float: left;
}

a{
    font-size: 40px;
}div{
     background-color: yellow;
 }

div a{
    font-size: 30px;
}

a{
    float: left;
}

a{
    font-size: 40px;
}div{
     background-color: yellow;
 }

div a{
    font-size: 30px;
}

a{
    float: left;
}

a{
    font-size: 40px;
}div{
     background-color: yellow;
 }

div a{
    font-size: 30px;
}

a{
    float: left;
}

a{
    font-size: 40px;
}div{
     background-color: yellow;
 }

div a{
    font-size: 30px;
}

a{
    float: left;
}

a{
    font-size: 40px;
}div{
     background-color: yellow;
 }

div a{
    font-size: 30px;
}

a{
    float: left;
}

a{
    font-size: 40px;
}div{
     background-color: yellow;
 }

div a{
    font-size: 30px;
}

a{
    float: left;
}

a{
    font-size: 40px;
}div{
     background-color: yellow;
 }

div a{
    font-size: 30px;
}

a{
    float: left;
}

a{
    font-size: 40px;
}div{
     background-color: yellow;
 }

div a{
    font-size: 30px;
}

a{
    float: left;
}

a{
    font-size: 40px;
}div{
     background-color: yellow;
 }

div a{
    font-size: 30px;
}

a{
    float: left;
}

a{
    font-size: 40px;
}div{
     background-color: yellow;
 }

div a{
    font-size: 30px;
}

a{
    float: left;
}

a{
    font-size: 40px;
}