
body{
    font-size: 36px;
    background-color: #ccc;
    line-height: 40px;
    lighting-color: black;

}

.column {
    width: 50%;
    float: left
}

div{
    background-color: yellow;
    
}

a {
    display: -webkit-box;
    display: flex;
}

.loading{
    width: 100px;
    height: 100px;
    background-image: url("../images/loading-jd.gif");
}

div a{
    font-size: 30px;
}

a{
    float: left;
}

a{
    font-size: 40px;
}

div{
     background-color: yellow;
 }

div a{
    font-size: 30px;
}

a{
    float: left;
}

a{
    font-size: 40px;
}

div{
     background-color: yellow;
 }

div a{
    font-size: 30px;
}

a{
    float: left;
}

a{
    font-size: 40px;
}

div{
     background-color: yellow;
 }

div a{
    font-size: 30px;
}

a{
    float: left;
}

a{
    font-size: 40px;
}

div{
     background-color: yellow;
 }

div a{
    font-size: 30px;
}

a{
    float: left;
}

a{
    font-size: 40px;
}

div{
     background-color: yellow;
 }

div a{
    font-size: 30px;
}

a{
    float: left;
}

a{
    font-size: 40px;
}

div{
     background-color: yellow;
 }

div a{
    font-size: 30px;
}

a{
    float: left;
}

a{
    font-size: 40px;
}

div{
     background-color: yellow;
 }

div a{
    font-size: 30px;
}

a{
    float: left;
}

a{
    font-size: 40px;
}

div{
     background-color: yellow;
 }

div a{
    font-size: 30px;
}

a{
    float: left;
}

a{
    font-size: 40px;
}

div{
     background-color: yellow;
 }

div a{
    font-size: 30px;
}

a{
    float: left;
}

a{
    font-size: 40px;
}

div{
     background-color: yellow;
 }

div a{
    font-size: 30px;
}

a{
    float: left;
}

a{
    font-size: 40px;
}

div{
     background-color: yellow;
 }

div a{
    font-size: 30px;
}

a{
    float: left;
}

a{
    font-size: 40px;
}

div{
     background-color: yellow;
 }

div a{
    font-size: 30px;
}

a{
    float: left;
}

a{
    font-size: 40px;
}

div{
     background-color: yellow;
 }

div a{
    font-size: 30px;
}

a{
    float: left;
}

a{
    font-size: 40px;
}

div{
     background-color: yellow;
 }

div a{
    font-size: 30px;
}

a{
    float: left;
}

a{
    font-size: 40px;
}

div{
     background-color: yellow;
 }

div a{
    font-size: 30px;
}

a{
    float: left;
}

a{
    font-size: 40px;
}

div{
     background-color: yellow;
 }

div a{
    font-size: 30px;
}

a{
    float: left;
}

a{
    font-size: 40px;
}

div{
     background-color: yellow;
 }

div a{
    font-size: 30px;
}

a{
    float: left;
}

a{
    font-size: 40px;
}